@{
    ViewData["Title"] = "User's Page";
}

<div class="text-center">
    <h1 class="display-4">User's page</h1>
    <br/><br/>
    <h1>Content</h1>
    <h3><a asp-controller="User" asp-action="SignUp">User's registration</a></h3>
    <h3><a asp-controller="User" asp-action="">User's review</a></h3>
    <h3><a asp-controller="User" asp-action="">User's amendment</a></h3>
</div>


     

