<div class="text-center">
    <h1 class="display-4">User's amendment</h1>
</div>
<div class="row">
    <div class="col">
        <h2>Basic information</h2>
        <form id="user-edit-form" enctype="multipart/form-data">
           
            Full name:&nbsp&nbsp <input name="user-name" /><br /><br />
            Password:&nbsp&nbsp <input name="user-password" type="password" minlength="6">&nbsp&nbsp
            Repeat password: &nbsp&nbsp<input name="repeat-password" type="password" minlength="6"><br /><br />
            Phone:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input name="user-phone" placeholder="+" /><br /><br />
            Email:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <input name="user-email" type="email" /><br /><br />
            Country:&nbsp&nbsp&nbsp&nbsp&nbsp<input name="user-country" /><br /><br /><br />
           
            <button type="submit">Save</button>
        </form>
    </div>
    <div class="col">
        <h2>Supplement</h2>
        <form id="user-supplement-form" enctype="multipart/form-data">

            AvatarPhoto: &nbsp&nbsp<input name="avatar-url" type="file" /><br /><br />
            AboutUser:  &nbsp&nbsp&nbsp&nbsp&nbsp<textarea name="about-user" style="height:180px;width:65%;"></textarea><br /><br /><br />
           

            <button type="submit">Save</button>
        </form>
    </div>
</div>
