<div class="text-center">
    <h1 class="display-4">User's amendment</h1>
</div>
<div class="row">
    <div class="col">
        <form id="user-registration-form" enctype="multipart/form-data">
           
            Full name: <input name="user-name" /><br />
            Password: <input name="user-password" type="password" minlength="6">
            Repeat password: <input name="repeat-password" type="password" minlength="6">
            Phone: <input name="user-phone" placeholder="+" /><br />
            Email: <input name="user-email" type="email" /><br />
            Country: <input name="user-country" /><br />
           
            <button type="submit">Save</button>
        </form>
    </div>
</div>
