@model GameFlow.Models.Admin.ActionViewModel
@{
    ViewData["Title"] = "Action page";
}
<div class="text-center">
    <h1 class="display-4">Add Action</h1>
</div>

<div class="col">
    <form id="add-action-form" enctype="multipart/form-data">
        Applied to type: <select name="action-applicant-type">
            <option value="product">Single product</option>
            <option value="developer">All products of developer</option>
            <option value="publisher">All products of publisher</option>
            <option value="category">Whole category</option>
        </select><br/>
        Applied to name: <input name="action-applicant-name"/><br/>
        Name: <input name="action-name"/><br/>
        Description: <textarea name="action-description"></textarea><br/>
        Amount: <input type="number" min="1" max="99" name="action-amount"/><br/>
        Start Date: <input name="action-startDate" type="date"/><br/>
        End Date: <input name="action-endDate" type="date"/><br/>
        <button type="submit">Add action</button>
    </form>
</div>