@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to GameFlow</h2>
</div>


<h3>Content</h3>

<h3><a asp-controller="Home" asp-action="Main">Main page</a></h3>