@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to GameFlow</h1>
</div>

<h1>Content</h1>
<h2>Hello!</h2>

<h3><a asp-controller="Home" asp-action="Main">Main page</a></h3>